.container{
    /* background-image: url('../../public/ships-6073537_1920.jpg'); */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: white !important;
}